/*--YangHong--*/

body {
background-color:lightcoral;
color:black;
}

.bold {
font-weight:bold;
font-size:24px;
}

header {
text-align:left;
border-bottom:double;
border-color: white;
font-size:x-large;
font-weight:bold;
}

.cssgridview {
width:auto;
margin:5px 0 10px 0;
border:solid 1px #525252;
border-collapse:collapse;
text-align:center; 
font-family:"Comic Sans MS"; 
background-color:white;
}

.cssgridview td{
    padding:10px;
    border:solid 1px #c1c1c1; 
    color:#717171;
}

    .cssgridview th {
        padding: 10px;
        color: #fff;
        background: #424242;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .cssgridview .alt {
        background-color:aqua;

    }